body, html {
  height: 100%;
  margin: 0;
  color: $black-grey;
}
// ::-webkit-scrollbar {
//   display: none;
// }
.header {
  background-image: url("/assets/images/4.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0 15em;
  .title {
    h1 {
      font-weight: 200;
      font-size: 6em;
    }
  }
  p, h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}
.img {
  position: relative;
  float: left;
  width:  100%;
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.img1 {
  position: relative;
  float: left;
  width:  60px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.round-img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.small-round-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
<<<<<<< HEAD
=======
.small-but-not-that-small-round-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
>>>>>>> db93119c13002a62072738103085508d2fafd140
.med-round-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
<<<<<<< HEAD
.flex-round-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
=======
>>>>>>> db93119c13002a62072738103085508d2fafd140
section {
  min-height: 100vh;
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    z-index: 1;
  }
  h4, small {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
  }
}
.half-separator {
  height: 15vh;
}

.separator {
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  h2 {
    font-size: 3em;
  }
  h2::after {
    background: none repeat scroll 0 0 $black-grey;
    bottom: -10px;
    content: "";
    display: block;
    height: 4px;
    position: relative;
    width: 2em;
  }
  p, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    z-index: 1;
  }
}
.big-img {
  height: 60vh;
  background-image: url("/assets/images/7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

}
.black-tint {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.container {
  padding: 0 5em;
}
.img2 {
  position: relative;
  float: left;
  width:  100%;
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  text-align: left;
}
.text1 {
  text-align: justify;
  font-size: 12px;
  margin-top: 10px;
}
.border {
  border : 8px solid red;
  padding: 30px;
}
.small-desc {
  font-size: 0.85em;
  line-height: 2.2;
  letter-spacing: .9px;
  word-spacing: -.92px;
  -moz-text-align-last: center; /* Code for Firefox */
  text-align-last: center;
}
.last-left {
  -moz-text-align-last: left!important; /* Code for Firefox */
  text-align-last: left!important;
}
.wide-spacing {
  letter-spacing: 1px;
  word-spacing: -.92px;
}
.p-30 {
  padding: 30px;
}
<<<<<<< HEAD
.navbar {
  z-index: 99;
  background-color: $white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  padding: 0.25rem 1rem!important;
}
.nav-link {
  font-size: 0.9em;
}
.navbar-brand {
  font-size: 1rem!important;
}
.kategori {
  padding: 0em 10em 2em 10em;
}
.no-style {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
=======
.left{
    padding-top:10dp;
}
>>>>>>> db93119c13002a62072738103085508d2fafd140
