// color pallete
 $black : #000;
 $white : #fff;
 $blue : #2196F3;
 $blue-white : #9CC6FF;
 $blue-hover : #24579F;
 $blue-submit : #00B1FF;
 $light-blue : #0095d7;
 $blue-bca : #005FAF;
 $dark-blue : #1A4C93;
 $darker-blue : #103E7E;
 $darker-bluee : #053D8B;
 $bright-blue : #00b1ff;
 $red : #F44336;
 $light-grey: #F5F5F5;
 $grey : #E1E1E1;
 $half-grey : #E0E0E0;
 $dark-grey : #9E9E9E;
 $darker-grey : #616161;
